.picturebg{
  background:url(data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBw0NDQ8NDw0NDQ8PDw0PDQ0NDQ8NDQ0PFREWFhURFRUYHSggGBolGxUVITEhJSkrLi4uFx8zODMtNygtLisBCgoKDQ0NDg0NDisZFRk3KysrNy03Ky0tKystKysrNysrNy0rKy0tKy0tKzc3Ky0rLSsrKy0rKy0rKzcrKy0rLf/AABEIALcBEwMBIgACEQEDEQH/xAAYAAEBAQEBAAAAAAAAAAAAAAAAAQIDB//EABgQAQEBAQEAAAAAAAAAAAAAAAABEeHR/8QAFgEBAQEAAAAAAAAAAAAAAAAAAAEC/8QAFBEBAAAAAAAAAAAAAAAAAAAAAP/aAAwDAQACEQMRAD8A9qVFbZAgCgIKAAACgAAAAAqAigKAgoIAIFAABQAAABAAAAYVBRQAUCoGgoAAKAAAAAACoqAoCAIAAAAAKAACU0AFQAAGBFUUAFEVAVFAABRFAAAAAAQAACgKACACgAAUASKACAAADmqKoKkWAKigAqAAAACgAAAAAAIAKCAAAKAAAAAIAAAigOeiNKCxIoCooACAqRQAAURQAAAAAAAAAACgBAAAAAQAoAmioKxFQaRQEFABRIqAACgAAAqUMBYAAAAAAUAAAAAAAEAAAAEBzVFaFAQVBQUBAIAKIoAAEVFAAAAAAAAAAAAAQAAAAATQAc4qDQsVFQFRQAAUBAVAFAAABRAFSmgEUAAAAQAVARQABAUEAABzGWo0KACiKgoigAQFAQURQAAAAMVAFEAUQBUAAAAEBUAAEAVMAcosReNosVBFUAFAQUAFEAUBBRNAUAAAAAAQAigACAAACCgAAqAOMVINI0rKoqqgCrEAVWVQUAATVgKIqAAAqAAAAAAICiCioAAgAAAIKOS+g0iw0EFUEFNAUUAAEBQANAAUBNFAQUBNNUBAAAAQADUUUQAAAH//2Q==);
   height: 350px;
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
}
h1{
  color: rgb(15, 15, 14);
  
  font-size: 70px;
  font-weight: bold;
}
.box{
  margin: auto;
  width: 450px;
  height: 250px;
}
.icon{
  margin-top: 2px;
  height: 120px;
  width: 150px;
}
.btn{
  color:black;
  background-color: blueviolet;
}
.btn:hover{
background-color: blue;
}
h6{
  font-weight: bold;
  font-size: 40px;
}
h5{
font-size: 35px;
}